POSTGRES_HOSTNAME='postgres'
POSTGRES_PORT=5432
POSTGRES_DB='database'
POSTGRES_USER='user'
POSTGRES_PASSWORD='password'

MINIO_ROOT_USER='user'
MINIO_ROOT_PASSWORD='password'
MINIO_STORAGE_BUCKET_NAME='bucket'

FRONTEND_DOMAIN_NAME='localhost'
FRONTEND_FRONTEND_DOMAIN='frontend'
FRONTEND_BACKEND_DOMAIN='backend'
FRONTEND_PORT='36781'

BACKEND_PORT='8899'
BACKEND_PORT_DEBUG='55099'

PROXY_PORT='40808'
PROXY_OLD_PORT='40889'

FRONTEND_BACKEND_CONNECTION_STRING=${FRONTEND_DOMAIN_NAME}:${BACKEND_PORT}
VITE_FRONTEND_BACKEND_CONNECTION_STRING=${FRONTEND_BACKEND_CONNECTION_STRING}

BACKEND_ALLOWED_ORIGINS_DELIMITER=<->
BACKEND_ALLOWED_ORIGINS=http://${FRONTEND_DOMAIN_NAME}:${PROXY_PORT}${BACKEND_ALLOWED_ORIGINS_DELIMITER}http://${FRONTEND_DOMAIN_NAME}:${PROXY_OLD_PORT}

BACKEND_OPEN_CONNECTION_STRING=127.0.0.1:${BACKEND_PORT}:${BACKEND_PORT}/tcp
BACKEND_DEBUG_CONNECTION_STRING=127.0.0.1:${BACKEND_PORT_DEBUG}:${BACKEND_PORT_DEBUG}/tcp

PROXY_OPEN_CONNECTION_STRING=127.0.0.1:${PROXY_PORT}:${PROXY_PORT}/tcp
PROXY_OLD_OPEN_CONNECTION_STRING=127.0.0.1:${PROXY_OLD_PORT}:${PROXY_OLD_PORT}/tcp
