<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<div th:insert="~{base :: header}"></div>
<form th:method="POST" th:action="@{/posts}" enctype="multipart/form-data">
    <label for="postName">Enter Post Name: </label>
    <input type="text" name="postName" id="postName" required>
    <div>
        <input type="file" name="postImage" id="postImage" accept="image/*" required>
    </div>
    <label for="accessId">Visibility</label>
    <select name="accessId" id="accessId">
        <option th:each="access: ${accesses}"
                th:value="${access.getId()}"
                th:text="${access.getName()}"></option>
    </select>
    <button type="submit">Upload Post</button>
</form>
</body>
</html>