<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<form th:method="POST" th:action="@{/posts}" enctype="multipart/form-data">
    <label for="postName">Enter Post name: </label>
    <input type="text" name="postName" id="postName">
    <div>
        <input type="file" name="postImage" accept="image/*">
    </div>
<!--    <p>-->
<!--        <img th:src="@{/${post.photosImagePath}}" id="thumbnail" alt="Image Thumbnail">-->
<!--    </p>-->
    <button type="submit" class="btn btn-primary">Upload Post</button>

    <!--    <input type="submit" value="Create Post">-->

</form>
</body>
</html>