<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Collection</title>
</head>
<body>
<div th:insert="~{base :: header}"></div>

<div>
    <h1 th:text="${'Collection: ' + collection.getPostCollectionName() + ' | by: ' + collection.getCreatedBy().getUsername()}"></h1>

    <div th:if="${canDelete == true}">
        <form th:method="DELETE" th:action="@{/collections/{id}(id=${collection.getId()})}">
            <input type="submit" value="Delete collection">
        </form>
    </div>
    <form th:method="GET" th:action="@{/{username}/collections/{id}/download
                                              (username=${collection.getCreatedBy().getUsername()},
                                               id=${collection.getId()})}">
        <input type="submit" value="Download collection">
    </form>

    <div th:each="post: ${collectionPosts}">
        <a th:href = "@{/{username}/posts/{id}(username=${post.getCreatedBy().getUsername()},
                                               id=${post.getId()})}"
           th:text="${post.getPostName()}"></a>
    </div>
    <div th:if="${#authentication.name == collection.getCreatedBy().getUsername()}">
        <br>
        <hr>
        <button>
            <a th:href="@{/collections/{id}/edit(id=${collection.getId()})}">
                Edit collection
            </a>
        </button>
    </div>
</div>

</body>
</html>