<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Posts</title>
</head>
<body>
<div th:insert="~{base :: header}"></div>

<div sec:authorize="isAuthenticated()">
    <h1><span th:text="${#authentication.name}"></span> POSTS</h1>
    <span th:if="${param.postDeleted}" th:text="'post ' + ${param.postDeleted} + ' was deleted'"></span>
    <div th:each="post: ${posts}">
        <a th:href = "@{/{username}/posts/{id}(username=${post.getCreatedBy().getUsername()},
                                               id=${post.getId()})}"
           th:text="${post.getPostName()}"></a>
    </div>
    <br>
    <hr>
    <a href="/posts/new">Create new post</a>
</div>

</body>
</html>