<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All</title>
    <style>
        img.small {
            width: 30%;
            height: 30%;
        }
    </style>
</head>
<body>
<div th:insert="~{base :: header}"></div>
<h1 th:text="${'Collection: ' + collection.getPostCollectionName()}"></h1>
<div th:each="post: ${collection.getCollectionPosts()}">
    <a th:href = "@{/posts/{id}(id=${post.getId()})}"
       th:text="${post.getPostName()}"></a>
</div>

</body>
</html>