<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Collection</title>
</head>
<body>
<div th:insert="~{base :: header}"></div>
<form th:method="POST" th:action="@{/collections}" enctype="multipart/form-data">
    <label for="postCollectionName">Enter Post Collection Name: </label>
    <input type="text" name="postCollectionName" id="postCollectionName" required>
    <th:block th:each="post: ${posts}">
        <div>
            <input type="checkbox"
                   name="selectedPosts"
                   th:value="${post.getId()}">
            <label th:text="${post.getPostName()}"></label>
        </div>
    </th:block>

    <button type="submit">Upload Collection</button>
</form>
</body>
</html>