<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div style="background-color: cadetblue;" th:fragment="header">
    <button><a href="/">Home</a></button>
    <div style="text-align: right">
        <div sec:authorize="isAuthenticated()">
            <form th:method="POST" th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <button><a href="/login">Login</a></button>
            <button><a href="/register">Register</a></button>
        </div>
    </div>

</div>
</body>
</html>