<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All</title>
</head>
<body>
<div th:insert="~{base :: header}"></div>
<div th:if="${param.registerSuccess}">REGISTRATION SUCCESSFULL</div>
<h1>IMAGEHOSTING</h1>
<!--<span sec:authentication="name"></span>-->
<div sec:authorize="isAuthenticated()">
    <h2>
        <a th:href="@{/{username}/posts(username=${#authentication.name})}">
            My Posts
        </a>
    </h2>
    <h2>
        <a th:href="@{/{username}/collections(username=${#authentication.name})}">
            My Collections
        </a>
    </h2>
    <hr/>
    <hr/>
</div>


<h2><a href="/posts">All posts</a></h2>
<h2><a href="/collections">All collections</a></h2>
<h2><a href="/users">All users</a></h2>
</body>
</html>